header {
    display: flex;
    background-color: #0B1C51;
    color: white;
}

header h1{
    font-size: 52px;
    text-align: center;
    padding-left: 30px
}

header nav {
    font-family: Montserrat;
    text-align: center;
    flex-direction: row;
}

ul {
    list-style-type: none;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}

@media all and (min-width: 600px) {
header h1 {
    font-size: 48px;
}
}